<p class="desc_info">Құжат «І. Жансүгіров атындағы Жетісу университеті» КЕАҚ «Smart Zhetysu» сандық платформасында қалыптастырылды</p>
<p class="desc_info">Осы құжат «Электрондық құжат және электрондық цифрлық қолтаңба туралы» Қазақстан Республикасының 2003 жылғы 7 қаңтардағы N 370-II Заңы 7 бабының 1 тармағына сәйкес қағаз тасығыштағы құжатпен бірдей.</p>
<p class="desc_info">Электрондық құжаттың түпнұсқалығын сол жақ жоғарғы бұрыштағы QR-кодты сканерлеу арқылы, сондай-ақ университет порталында сілтеме бойынша өту арқылы тексере аласыз - <span id="qr_link"></span> .</p>
