{% extends "pages/base.twig" %}
{% block title %}Справочник - Студент{% endblock %}
{% block css %} {% endblock %}
{% block breadcrumb %}
<li class="text-sm pl-2 capitalize leading-normal text-white before:float-left before:pr-2 before:text-white before:content-['/']">Электронный</li>
{% endblock %}
{% block current_title %} Справочник {% endblock %}
{% block jurnal %}
<div class="relative flex flex-col flex-auto min-w-0 p-4 mx-2 overflow-hidden break-words bg-white border-0 dark:bg-slate-850 dark:shadow-dark-xl shadow-3xl rounded-2xl bg-clip-border">
    asd
</div>
{% endblock %}

{% block js %}<script src="/js/jurnal.js"></script>{% endblock %}